$orange: #ffd000;

.review-card-container {
  position: relative;
  text-align: center;
  margin: auto;
}

.review-card {
  display: none;
  img{
    width: 96px;
    height: 96px;
  }
}

.review-card.card-active {
  display: block;
  img{
    width: 112px;
    height: 112px;
  }
}
.carousel-dot-container {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 60px 0 90px;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background-color: #65636A;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.6s ease;
  opacity: 0.5;
}

.active,
.dot:hover {
  opacity: 1;
}

.review-card {
  width: 344px;
  animation-name: fade;
  animation-duration: 1.5s;
}

.review-card-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  margin: 20px 0 8px;
}

.review-card-text {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #65636A;
  margin-top: 35px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
.btn-carousel-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    cursor: pointer;
  }
}
.btn-prev{
  position: relative;
  left: -100%;
}
.btn-next{
  position: relative;
  right: -320%;
}
.icon-carousel{
  opacity: 0.5;
  transition: all 0.15s ease;
}
.icon-carousel:hover{
  opacity: 0.9;
}
.icon-carousel:active{
  opacity: 0.5;
}

.review-card-rating{
  display: flex;
  justify-content: center;
  align-items: center;
  .rating{
    margin-top: 10px;
  }
}

::ng-deep .visually-hidden{
  display: none !important;
}
.rating{
  font-size: x-large;
  color: $orange;
}

@media (max-width: 340px){
  .btn-carousel-container{
    display: none;
  }
  .review-card-text {
    margin: 20px 20px auto;;
  }
}
